/* Another screen for responsive */
@media screen and (min-width: 600px) {
    /* header section start  */
    .container {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        position: relative;
    }

    .navbar {
        display: block;
        position: absolute;
        top: .1rem;
        right: .1rem;
    }

    .nav-menu{
        flex-direction: row;
        column-gap: 1.5rem;
    }

    #menu-icon {
        display: none;
    }
    /* header section end  */

    /* main section start  */


    .home-photo {
        text-align: right;
        padding-right: 2rem;
        float: right;
        transition: .4s;
    }

    .home-desc {
        margin-left: 2.5rem;
        margin-top: 9rem;
        float: left;
    }

    .photo-bio::after {
        content: '';
        display: table;
        clear: both;
    }

    .home-scrol {
        margin-top: 5rem;
    }


    /* about section start  */
    
    .info {
        display: flex;
        justify-content: space-between;
        /* padding: 2rem; */
    }

    .info-img img {
        height: 13rem;
    }

    .info-desc {
        margin: 2rem 0 0 2rem;

    }

    .info-desc p {
        margin: 1rem 0 4rem 1rem;
    }  

    .button {
        position: absolute;
        right: 6rem;
    }

    /* main section end  */

    /* expreiance section here */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .exp-data {
        height: 300px;
    }


    /* skill section start here  */
    .skill-container {
        display: grid;
        grid-template-columns: 50% 50%;
        /* column-gap: 2rem; */
    }


    /* contact section start  */
    .contact-container {
        display: gird;
        grid-template-columns: 50% 50%;
    }

    .mail-section {
        border-radius: 1rem 0 0 1rem;
    }

    .item-section {
        border-radius: 0 1rem 1rem 0;
    }

    .item {
        padding-top: 5rem;
    }
}

/* screen for tablet */
@media screen and (min-width: 768px) {
    .home-photo {
        padding-right: 4rem;
        transition: .4s;
    }

    .home-desc {
        margin-top: 11rem;
        margin-left: 5rem;
        transition: .4s;
    }
    

    .info {
        display: flex;
        justify-content: space-between;
        /* padding: 2rem; */
    }

    .info-img img {
        height: 15rem;
        margin-left: 2rem;
        transition: .4s;
    }

    .info-desc {
        margin: 2rem 0 0 2rem;

    }

    .info-desc p {
        margin: 1rem 2rem 5rem 1rem;
    }

    /* expreiance sention start here  */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* service section start here  */

    .cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* service section end here  */
}

@media screen and (min-width: 868px) {
    .home-photo {
        padding-right: 6rem;
        transition: .4s;
    }

    .home-desc {
        margin-top: 13rem;
        margin-left: 7rem;
        transition: .4s;
    }

    .info-img img {
        height: 17rem;
        margin-left: 2rem;
    }

    .info-desc p {
        margin: 1rem 0 6rem 1rem;
    }

    /* service section start here  */

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    /* service section end here  */

    
}

@media screen and (min-width: 992px) {
    .home-photo {
        padding-right:8rem;
        transition: .3s;
    }

    .home-desc {
        margin-top: 15rem;
        margin-left: 9rem;
        transition: .4s;
    }
    .info-img img {
        height: 17rem;
        margin-left: 2rem;
    }

    .info-desc {
        margin: 3rem 0 3rem 3rem;
    }

    /* service section start here  */

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    /* service section end here  */
}