*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --header-color: #050222;
  
  --hue: 230;
  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 30%, 95%);
  --text-color: hsl(230, 20%, 80%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --body-color: #181e39;
  --container-color: hsl(var(--hue), 40%, 20%);

  --font-1: "Syne", sans-serif;

   /*========== Font Size ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

body , input , textarea , button {
    font-family: var(--font-1);
    font-size: var(--normal-font-size);
}

input , button , textarea {
  border: none;
  outline: none;
}

h1 , h2 , h3 , h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  /* font-family: "Playwrite CU", cursive; */
  /* font-family: "Montserrat", sans-serif;font-family: "Roboto", sans-serif; */
  /* font-family: "Italianno", cursive; */
  font-family: var(--font-1);
}

p {
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  width: 95%;
  margin: 4rem auto;
  height: .2rem;
  color: rgb(119, 104, 160);
  border-radius: 5px;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* header section start  */

/* .header {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
} */

.container {
  background-color: var(--header-color);
  border-radius: 0 0 10px 10px;
  text-align: center;
  position: relative;
}



.logo img {
  height: 4.5rem;
  padding: .5rem;
  margin-left: .7rem;
  display: flex;
}


.navbar {
  display: none;
  padding: 2rem;
  transition: right .4s;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  min-height: 40vh;
}

.nav-menu li a {
  position: relative;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-menu a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--first-color-light);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav-menu a:hover {
  color: var(--first-color);
}

.nav-menu a:hover::after{
  width: 60%;
}

.menu-icon {
  font-size: 1.5rem;
  color: var(--title-color);
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
}



/* header section end  */

/* main section start  */

/* ====this is home section=====  */
.home{
  text-align: center;
}
.home-photo img {
  height: 20rem;
  text-align: right;
  mask-image: linear-gradient(to bottom, hsl(230, 40%, 16%) 80%, transparent 100%);
}

.home-desc {
  margin: 1rem;
  text-align: left;
  position: relative;
}

.name  {
  font-family: "Josefin Sans", sans-serif;
}

.home-desc h3 {
  margin-top: 1rem;
}

.home-desc h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 4rem;
  background-color: var(--text-color-light);
  height: 3px;
  border-radius: 50px;
  transition: width .6s;
}

.home-desc h3:hover::after {
  width: 0;
  opacity: 0;
  transition: .6s;
}

.home-scrol {
  margin-top: 3rem;
  color: var(--title-color);
  display: inline-flex;
  column-gap: .5rem;
  justify-self: center;
  align-items: center;
}

.home-scroll-box {
  font-size: 1.5rem;
  background-color: var(--first-color);
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.home-scroll-text{
  font-weight: var(--font-semi-bold);
}

.home-scroll-box i {
  animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
  0%{
    transform: translateY(-1rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(.6rem);
    opacity: 0;
  }
}

/* this is about section  */

.about {
  text-align: center;
  margin: 3rem 0;
  padding: .5rem;
}

/* .section-title {
  position: relative;
}

.section-title::after {
  content: '';
  width: 3rem;
  height: 4px;
  background-color: var(--text-color-light);
  position: absolute;
  left: 0;
  bottom: -.3rem;
  transition: width .4s;
  border-radius: 50px;
} */

.about-container {
  margin-top: 2rem;
  position: relative;
  text-align: center;
}

.info-img img {
  height: 17rem;
  border: 5px solid white;
  padding: .8rem;
  border-radius: 5rem;
  margin-bottom: 2rem;
}


.info-desc h3 , p {
  text-align: left;
  margin-left: 1rem;
  position: relative;
}

.info-desc p {
  margin: 2rem 0 5rem 1rem;
}

.info-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.4rem;
  width: 2rem;
  background-color: var(--text-color-light);
  height: 3px;
  border-radius: 50px;
  transition: width .6s; 
}


button {
  font-weight: bold;
  color: white;
  padding: .5rem 2rem;
  border-radius: 10px;
  color: black;
}

/* expreiance */

.ab-ex {
  border: 2px dashed;
  border-right: none;
  border-bottom: none;
  border-left: none;
  width: 30%;
}

.expreiance h2 {
  margin: 3rem 0 2rem 0;
}

/* .expreiance {
  row-gap: 1rem;
} */

.exp-content {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}

.exp-data {
  background-color: #141033;
  padding-bottom: 1.5rem ;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 3px 5px 0 rgba(248, 243, 243, 0.2);
}

.exp-data:hover {
  /* transform: translate(5px , 5px); */
  transform: scale(1.05 , 1.05);
  box-shadow: 0 6px 10px 0 rgba(248, 243, 243, 0.2);
}

.exp-data h3 {
  padding: 1rem;
}

.exp-desc {
  padding: 1rem;
}

/* expreiance section end  */

/* skill section start here  */

.skil-title {
  text-align: center;
}

.skill-container {
  padding-left: 1rem;
}

.technical-skill-title {
  margin: 1rem 0;
  position: relative;
}

.technical-skill-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.4rem;
  width: 4rem;
  background-color: var(--text-color-light);
  height: 3px;
  border-radius: 50px;
  transition: width .6s; 
}

#icon {
  font-size: 2rem;
  color: white;
}

.technical-bar {
  padding: 1.5rem 0;
  margin-left: 1rem;
  position: relative;
}


.technical-bar #icon::before{
  content: '';
  background-color: rgb(41, 114, 114);
  width: 95%;
  height: 10px;
  border-radius: 5000px;
  position: absolute;
  bottom: -.1rem;
  left: 0;
}

.technical-bar #icon::after{
  content: '';
  background-color: #141033;
  width: 0;
  height: 10px;
  border-radius: 5000px;
  position: absolute;
  bottom: -.1rem;
  left: 0;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0.5ms;
  animation-fill-mode: forwards;
  /* animation-iteration-count: 5; */
  /* animation-direction: forward; */
}

.technical-bar .icon-html::after{
  animation-name: html;
}
@keyframes html {
  100%{
      width: 90%;
  }
}

.main li.css::after{
  animation-name: css;
}
@keyframes css {
  to{
      width: 80%;
  }
}

.main li.js::after{
  animation-name: js;
}
@keyframes js {
  to{
      width: 60%;
  }
}

.main li.python::after{
  animation-name: python;
}
@keyframes python {
  to{
      width: 50%;
  }
}

.main li.java::after{
  animation-name: java;
}
@keyframes java {
  to{
      width: 90%;
  }
}

.professional-skill-title {
  position: relative;
  margin-top: 3rem;
}

.professional-skill-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.4rem;
  width: 4rem;
  background-color: var(--text-color-light);
  height: 3px;
  border-radius:500px;
  transition: width .6s; 
}
/* skill section end  */

/* main section end  */